* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #0b1c2d;
  color: white;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background: #081421;
}

.logo {
  color: #00bfff;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu a {
  color: white;
  text-decoration: none;
}

.menu a:hover {
  color: #00bfff;
}

/* HERO */
#hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 10%;
  min-height: 100vh;
}

.hero-text h1 {
  font-size: 48px;
}

.hero-text span {
  color: #00bfff;
}

.hero-text h3 {
  margin: 10px 0;
  color: #00bfff;
}

.hero-text p {
  max-width: 500px;
  line-height: 1.6;
}

.hero-btn {
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  margin-right: 10px;
}

.primary {
  background: #00bfff;
  color: black;
}

.secondary {
  border: 2px solid #00bfff;
  color: #00bfff;
}

.hero-img img {
  width: 300px;
  border-radius: 20px;
  box-shadow: 0 0 20px #00bfff;
}

/* ABOUT */
#about, #projects, #contact {
  padding: 80px 10%;
  text-align: center;
}

#about p {
  max-width: 600px;
  margin: auto;
}

/* PROJECTS */
.project-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: #081421;
  padding: 30px;
  border-radius: 15px;
  width: 200px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 15px #00bfff;
}

/* FOOTER */
footer {
  background: #081421;
  text-align: center;
  padding: 20px;
}

/* RESPONSIVE */
@media(max-width:768px){
  #hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-img {
    margin-top: 30px;
  }

  .project-list {
    flex-direction: column;
    align-items: center;
  }
}
