* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: radial-gradient(circle at top, #0b3c5d, #020b13);
  color: white;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 10%;
  background: rgba(0,0,0,0.4);
  position: fixed;
  width: 100%;
  top: 0;
  backdrop-filter: blur(10px);
}

nav h2 {
  color: #00d4ff;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: #00d4ff;
}

/* HERO */
#hero {
  min-height: 100vh;
  padding-top: 120px;
  text-align: center;
}

#hero img {
  width: 200px;
  border-radius: 50%;
  border: 4px solid #00d4ff;
  box-shadow: 0 0 25px #00d4ff;
  margin-bottom: 20px;
}

#hero h1 {
  font-size: 50px;
}

#hero span {
  color: #00d4ff;
}

#hero h3 {
  margin: 10px 0;
  color: #00d4ff;
}

#hero p {
  max-width: 500px;
  margin: auto;
  line-height: 1.6;
}

/* BUTTON */
.buttons {
  margin-top: 20px;
}

.btn {
  padding: 10px 25px;
  border-radius: 30px;
  background: #00d4ff;
  color: black;
  text-decoration: none;
  margin: 5px;
  display: inline-block;
}

.btn.outline {
  background: transparent;
  border: 2px solid #00d4ff;
  color: #00d4ff;
}

/* SECTION */
section {
  padding: 80px 10%;
  text-align: center;
}

/* PROJECT */
.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: rgba(255,255,255,0.05);
  padding: 30px;
  border-radius: 15px;
  width: 220px;
  transition: 0.3s;
  box-shadow: 0 0 10px #00d4ff44;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 25px #00d4ff;
}

/* FOOTER */
footer {
  background: black;
  padding: 20px;
  text-align: center;
}

/* RESPONSIVE */
@media(max-width:768px){
  .cards {
    flex-direction: column;
    align-items: center;
  }
}
